// =============================================================================
//
//  FOOTER
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
// @use "sass:map";
// @use "../tools/functions";
// @use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

footer {
  // height: 200px;
  margin-top: variables.$nav-bar-height;
  // background-color: rgba(variables.$color-skywarp, 0.5);
  border-top: solid 1px variables.$color-trypticon;

  p {
    padding: 20px 0;
  }
}