// =============================================================================
//
//  FOOTER
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
// @use "sass:map";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

footer {
  border-top: solid 1px variables.$color-devastator;
  padding: 0 functions.px2rem(20);

  p {
    padding: functions.px2rem(20) 0;
    font-size: functions.px2rem(12);
    text-transform: uppercase;
  }

  @include mixins.breakpoint(md) {
    padding: 0 functions.px2rem(40);
    p {
      font-size: functions.px2rem(14);
    }
  }
}