// =============================================================================
//
//  IMAGES
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
// @use "sass:map";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.image {
  width: 100%;
  overflow: hidden;
  margin-bottom: functions.px2rem(30);
  padding: 0;
  border: solid 1px variables.$color-devastator;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.8);
  transition: border-color 2s variables.$global-easing,
              box-shadow 2s variables.$global-easing;

  @include mixins.breakpoint(md) {
    margin-bottom: functions.px2rem(60);
  }
}

// -----------------------------------------------------------------------------
// HOVER / FOCUS STATES
// -----------------------------------------------------------------------------

.image:hover,
.image:focus {
  border-color: variables.$color-ramjet;
  animation: noisy-glow 2s infinite ease-in-out;
}

// 16:9 IMAGE
// -----------------------------------------------------------------------------

.image--16-9 {
  aspect-ratio: 16 / 9;
}

// SQUARE IMAGE
// -----------------------------------------------------------------------------

.image--1-1 {
  aspect-ratio: 1 / 1;
}

// -----------------------------------------------------------------------------
// IMG
// -----------------------------------------------------------------------------

.image img {
  display: block;
  width: 100%;
}

// -----------------------------------------------------------------------------
// ANIMATION: NOISY GLOW
// -----------------------------------------------------------------------------

@keyframes noisy-glow {
  0% {
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0);
    border-color: variables.$color-devastator;
  }

  50% {
    box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.5);
    border-color: variables.$color-ramjet;
  }

  100% {
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0);
    border-color: variables.$color-devastator;
  }
}