// src/styles/components/_logomini.scss
// =============================================================================
//
//  LOGOMINI
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
// @use "sass:map";
// @use "../tools/functions";
// @use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.logomini {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;

  #logomini_base {
    fill: variables.$color-devastator;
    opacity: 1;
  }

  #logomini_core {
    fill: url(#logomini_core);
    opacity: 0;
  }

  #logomini_bottomHighlight {
    fill: url(#logomini_bottomHighlight);
    opacity: 0;
  }

  #logomini_highlight {
    fill: url(#logomini_highlight);
    opacity: 0;
  }
}