// =============================================================================
//
//  MODAL
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
@use "sass:map";
@use "../tools/functions";
// @use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.modal {
  position: fixed;
  inset: 0;
  z-index: map.get(variables.$z-index, "modal");
  display: flex;
  align-items: center;
  justify-content: center;
}

// -----------------------------------------------------------------------------
// BACKDROP
// -----------------------------------------------------------------------------

.modal__backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(variables.$color-skywarp, 0.80);
}

// -----------------------------------------------------------------------------
// CONTENT
// -----------------------------------------------------------------------------

.modal__content {
  position: relative;
  // box-shadow: 0 0 functions.px2rem(32) rgba(variables.$color-skywarp, 0.5);
  max-width: 90vw;
  max-height: 90vh;
  padding: functions.px2rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// MODAL IMAGE
// -----------------------------------------------------------------------------

.modal__content img {
  max-width: 100%;
  height: auto;
  display: block;
}

// -----------------------------------------------------------------------------
// CLOSE BUTTON
// -----------------------------------------------------------------------------

.modal__close {
  position: absolute;
  top: functions.px2rem(8);
  right: functions.px2rem(8);
  padding: functions.px2rem(5) functions.px2rem(10);
  background: none;
  border: solid 1px variables.$color-devastator;
  background-color: variables.$color-megatron;
  font-size: functions.px2rem(24);
  color: variables.$color-ramjet;
  cursor: pointer;
  outline: none;
  transition: color variables.$global-timing variables.$global-easing,
              border-color variables.$global-timing variables.$global-easing;

  &:hover,
  &:focus {
    border-color: variables.$color-soundwave;
    color: variables.$color-soundwave;
  }
}

// -----------------------------------------------------------------------------
// CAPTION
// -----------------------------------------------------------------------------

.modal__caption {
  margin-top: functions.px2rem(8);
  font-size: functions.px2rem(14);
  color: variables.$color-starscream;
  text-align: center;
}
