// =============================================================================
//
//  NAV BAR
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "sass:color";
@use "sass:map";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: functions.px2rem(variables.$nav-bar-height);
  background-color: variables.$color-megatron;
  border-bottom: solid 1px variables.$color-devastator;
  z-index: map.get(variables.$z-index, "nav-bar");
}

// -----------------------------------------------------------------------------
// UL
// -----------------------------------------------------------------------------

.nav-bar__ul {
  position: absolute;
  top: calc(variables.$nav-bar-height + 20px);
  right: 20px;
  width: calc(100% - 40px);
  margin: 0;
  padding: functions.px2rem(30);
  list-style: none;
  background-color: rgba(variables.$color-skywarp, 1);
  backdrop-filter: blur(3px);
  // transition: opacity variables.$global-timing variables.$global-easing;
  opacity: 0;
  border: solid 1px variables.$color-devastator;
  // display: none;

  @include mixins.breakpoint(xs) {
    width: 320px;
  }

  @include mixins.breakpoint(md) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    padding: 0;

    top: auto;
    right: auto;
    width: auto;
    background-color: transparent;
    backdrop-filter: none;
    opacity: 1;
    border: none;
  }
}

// -----------------------------------------------------------------------------
// VISIBILITY TOGGLE (Mobile only)
// -----------------------------------------------------------------------------

.nav-bar__ul.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease;

  @include mixins.breakpoint(md) {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.nav-bar__ul.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  @include mixins.breakpoint(md) {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

// -----------------------------------------------------------------------------
// LI
// -----------------------------------------------------------------------------

.nav-bar__li {
  width: 100%;
  margin-right: functions.px2rem(calc(variables.$nav-bar-height / 2));
  margin-bottom: functions.px2rem(15);
  font-size: functions.px2rem(14);
  font-weight: bold;
  text-transform: uppercase;

  &.active a {
    color: variables.$color-soundwave;
    border-color: variables.$color-soundwave;
    animation: navTextPulse 10s ease-in-out infinite;
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: block;
    color: variables.$color-devastator;
    text-decoration: none;
    border-bottom-color: transparent;
    transition: color variables.$global-timing variables.$global-easing, border-color variables.$global-timing variables.$global-easing;
    border: solid 1px variables.$color-devastator;
    padding: functions.px2rem(10);

    &:hover {
      color: variables.$color-soundwave;
    }
  }

  @include mixins.breakpoint(md) {
    display: inline-block;
    width: auto;
    margin-bottom: 0;

    a {
      padding: initial;
      border: none;
    }

    &.active a {
      border-bottom: solid 1px variables.$color-soundwave;
      padding-bottom: functions.px2rem(5);
    }
  }
}

@keyframes navTextPulse {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}

// -----------------------------------------------------------------------------
// NAV LOGO
// -----------------------------------------------------------------------------

.nav-bar__logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: functions.px2rem(20);
  margin-right: auto;

  path {
    fill: variables.$color-devastator;
  }

  @include mixins.breakpoint(md) {
    margin-left: functions.px2rem(40);
  }
}

.nav-bar__logo-text {
  margin-left: functions.px2rem(20);
  color: variables.$color-devastator;
  display: none;
}

// -----------------------------------------------------------------------------
// BURGER
// -----------------------------------------------------------------------------

.nav-bar__burger {
  margin-right: functions.px2rem(20);

  path {
    fill: variables.$color-devastator;
  }

  @include mixins.breakpoint(md) {
    display: none;
  }
}
