// =============================================================================
//
//  NAV BAR
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "sass:color";
@use "sass:map";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.nav-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: functions.px2rem(variables.$nav-bar-height);
  background-color: variables.$color-megatron;
  border-bottom: solid 1px variables.$color-trypticon;
  z-index: map.get(variables.$z-index, "nav-bar");
}

.nav-bar__ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
  margin: 0;
  padding: 0;
}

.nav-bar__li {
  display: none;
  margin-right: functions.px2rem(calc(variables.$nav-bar-height / 2));
  font-size: functions.px2rem(14);
  font-weight: bold;
  text-transform: uppercase;

  &.active a {
    color: variables.$color-soundwave;
    animation: navTextPulse 10s ease-in-out infinite;
  }

  a {
    color: variables.$color-devastator;
    text-decoration: none;
    transition: color variables.$global-timing variables.$global-easing;

    &:hover {
      color: variables.$color-soundwave;
    }
  }

  @include mixins.breakpoint(md) {
    display: inline-block;
  }
}

@keyframes navTextPulse {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.8);
  }

  100% {
    filter: brightness(1);
  }
}

// -----------------------------------------------------------------------------
// NAV LOGO
// -----------------------------------------------------------------------------

.nav-bar__logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: functions.px2rem(20);
  margin-right: auto;

  path {
    fill: variables.$color-devastator;
  }

  @include mixins.breakpoint(md) {
    margin-left: functions.px2rem(calc(variables.$nav-bar-height / 2));
  }
}

.nav-bar__logo-text {
  margin-left: functions.px2rem(20);
  color: variables.$color-devastator;
  display: none;
}

// -----------------------------------------------------------------------------
// BURGER
// -----------------------------------------------------------------------------

.nav-bar__burger {
  margin-right: functions.px2rem(20);
  path {
    fill: variables.$color-devastator;
  }

  @include mixins.breakpoint(md) {
    display: none;
  }
}
