// =============================================================================
//
//  PANEL
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.panel {
  margin-bottom: functions.px2rem(30);
  padding: functions.px2rem(30);
  border: solid 1px variables.$color-devastator;
  background-color: variables.$color-megatron;

  @include mixins.breakpoint(md) {
    margin-bottom: functions.px2rem(60);
    padding: functions.px2rem(60);
  }
}

.panel > :first-child {
  margin-top: 0;
}

.panel > :last-child {
  margin-bottom: 0;
}

.panel > :only-child {
  margin-bottom: 0;
}
