// =============================================================================
//
//  PANEL
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "sass:color";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.panel {
  margin-bottom: functions.px2rem(30);
  padding: functions.px2rem(30);
  border: solid 1px variables.$color-devastator;
  background-color: variables.$color-megatron;

  @include mixins.breakpoint(md) {
    margin-bottom: functions.px2rem(60);
    padding: functions.px2rem(60);
  }
}

.panel > :first-child {
  margin-top: 0;
}

.panel > :last-child {
  margin-bottom: 0;
}

.panel > :only-child {
  margin-bottom: 0;
}

// -----------------------------------------------------------------------------
// UL OVERRIDE
// -----------------------------------------------------------------------------

.panel {
  .ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    gap: 1rem;
    .li {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      // flex: 0 0 calc(25% - 1rem);
      flex: 1 1 clamp(160px, 25%, 50%); // clamp(min, ideal, max)
      margin: 0;
      padding: 10px;
      border-bottom: solid 1px variables.$color-trypticon;
      font-size: functions.px2rem(12);
      letter-spacing: 0.125em;
      text-transform: uppercase;
    }
  }
}