// =============================================================================
//
//  PROJECT CARD
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "sass:color";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// PROJECT CARDS
// -----------------------------------------------------------------------------

.project-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-bottom: functions.px2rem(30);

  @include mixins.breakpoint(md) {
    margin-bottom: functions.px2rem(60);
  }

  @include mixins.breakpoint(xxl) {
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
}

// -----------------------------------------------------------------------------
// PROJECT CARD
// -----------------------------------------------------------------------------

.project-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: functions.px2rem(30);
  padding: functions.px2rem(30);
  min-height: functions.px2rem(300);
  background-color: rgba(variables.$color-skywarp, 0.25);
  background-size: cover;
  border: solid 1px variables.$color-devastator;
  overflow: hidden;

  &:hover {
    background-color: rgba(variables.$color-skywarp, 1);
    cursor: pointer;

    .project-card__logo {
      scale: 0.95;
      filter: blur(3px);
    }

    .project-card__bar {
      background-color: rgba(variables.$color-skywarp, 0.5);
      border: solid 1px variables.$color-devastator;
      padding: functions.px2rem(20);
    }

    .project-card__title {
      color: variables.$color-ramjet;
    }

    .project-card__label {
      color: variables.$color-ramjet;
    }
    .project-card__description {
      color: variables.$color-ramjet;
      border-top-color: variables.$color-devastator;
    }    
  }

  &:focus-visible {
    outline-style: outset;
    outline-width: 2px;
    outline-color: variables.$color-soundwave;
  }

  @include mixins.breakpoint(md) {
    padding: functions.px2rem(60);
  }
}

// -----------------------------------------------------------------------------
// LOGO
// -----------------------------------------------------------------------------

.project-card__logo {
  scale: 1;
  transition: scale 2s variables.$global-easing,
              filter 2s variables.$global-easing;

  img {
    max-width: 100%;
  }
}

$project-card-bar-margin: functions.px2rem(10);

// -----------------------------------------------------------------------------
// BAR
// -----------------------------------------------------------------------------

.project-card__bar {  
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - ($project-card-bar-margin * 2));
  position: absolute;
  bottom: 0;
  left: 0;
  margin: $project-card-bar-margin;
  padding: $project-card-bar-margin;
  background-color: rgba(variables.$color-skywarp, 0.1);
  transition: background-color variables.$global-timing variables.$global-easing,
              border-color variables.$global-timing variables.$global-easing,
              padding variables.$global-timing variables.$global-easing;
}

// -----------------------------------------------------------------------------
// BAR ROW
// -----------------------------------------------------------------------------

.project-card__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// -----------------------------------------------------------------------------
// TITLE
// -----------------------------------------------------------------------------

.project-card__title {
  margin: 0;
  margin-right: functions.px2rem(20);
  font-size: functions.px2rem(16);
  color: variables.$color-skywarp;
  transition: color variables.$global-timing variables.$global-easing;
}

// -----------------------------------------------------------------------------
// LABEL
// -----------------------------------------------------------------------------

.project-card__label {
  font-size: functions.px2rem(12);
  color: variables.$color-skywarp;
  transition: color variables.$global-timing variables.$global-easing;
}

// -----------------------------------------------------------------------------
// DESCRIPTION
// -----------------------------------------------------------------------------

.project-card__description {
  display: none;
  width: inherit;
  padding-top: functions.px2rem(10);
  margin-top: functions.px2rem(10);
  border-top: solid 1px variables.$color-skywarp;
  color: variables.$color-skywarp;
  font-size: functions.px2rem(16);
  transition: color variables.$global-timing variables.$global-easing,
              border-color variables.$global-timing variables.$global-easing;
}

// -----------------------------------------------------------------------------
// SUBLINE
// -----------------------------------------------------------------------------

.project-card__subline {
  font-size: functions.px2rem(18);
}

// -----------------------------------------------------------------------------
// BFG BUTTON
// -----------------------------------------------------------------------------

.project-card .bfg-button {
  position: absolute;
  right: functions.px2rem(5);
  bottom: functions.px2rem(5);
}

// -----------------------------------------------------------------------------
// GRID OVERLAY EFFECT (Absolute Tiles)
// -----------------------------------------------------------------------------

.project-card__grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.project-card__tile {
  position: absolute;
  background-color: rgba(variables.$color-skywarp, 0.9);
  opacity: 0;
  will-change: opacity;
  transition: opacity variables.$global-timing variables.$global-easing;
}