// =============================================================================
//
//  PROJECT CARD
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "sass:color";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// PROJECT CARDS
// -----------------------------------------------------------------------------

.project-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-bottom: functions.px2rem(30);

  @include mixins.breakpoint(md) {
    margin-bottom: functions.px2rem(60);
  }
  
  @include mixins.breakpoint(xxl) {
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
}

// -----------------------------------------------------------------------------
// PROJECT CARD
// -----------------------------------------------------------------------------

.project-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: functions.px2rem(30);
  padding: functions.px2rem(30);
  min-height: functions.px2rem(300);
  background-color: rgba(variables.$color-skywarp, 0.25);
  background-size: cover;
  border: solid 1px variables.$color-devastator;

  &:hover {
    background-color: rgba(variables.$color-skywarp, 1);
    cursor: pointer;
    .project-card__bar {
      background-color: rgba(variables.$color-skywarp, 1);
    }
    .project-card__title {
      color: variables.$color-ramjet;
    }
    .project-card__label {
      color: variables.$color-ramjet;
    }
    .project-card__logo {
      scale: 1;
    }
  }

  @include mixins.breakpoint(md) {
    padding: functions.px2rem(60);
  }
}

.project-card__logo {
  scale: 0.9;
  transition: scale variables.$global-timing variables.$global-easing;
  img {
    max-width: 100%;
  }
}

.project-card__bar {
  $project-card-bar-margin: functions.px2rem(5);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - ($project-card-bar-margin * 2));
  position: absolute;
  top: 0;
  left: 0;
  margin: $project-card-bar-margin;
  padding: functions.px2rem(10);
  background-color: rgba(variables.$color-skywarp, 0);
  transition: background-color variables.$global-timing variables.$global-easing;
}

.project-card__title {
  margin: 0;
  font-size: functions.px2rem(20);
  color: variables.$color-skywarp;
  transition: color variables.$global-timing variables.$global-easing;
}

.project-card__label {
  color: variables.$color-skywarp;
}

.project-card__desc {
  margin: 0;
}

.project-card .bfg-button {
  position: absolute;
  right: functions.px2rem(5);
  bottom: functions.px2rem(5);
}