// =============================================================================
//
//  THREE SCENE
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
// @use "sass:map";
@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.three-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.three-scene canvas {
  width: 100%;
  height: 100%;
}

// -----------------------------------------------------------------------------
// CONTROLS
// -----------------------------------------------------------------------------

.scene-controls {
  position: absolute;
  bottom: functions.px2rem(20);
  width: calc(100% - (20px * 2));
  margin: 0 20px;
  display: none;

  &.visible {
    display: block;
  }
}

// -----------------------------------------------------------------------------
// TOGGLE
// -----------------------------------------------------------------------------

.scene-controls-toggle {
  display: block;
  appearance: none;
  // width: functions.px2rem(50);
  // height: functions.px2rem(50);
  position: absolute;
  bottom: functions.px2rem(20);
  right: functions.px2rem(20);
  background-color: transparent;
  border: none;
  color: variables.$color-ramjet;
  cursor: pointer;
}

.icon-cube {
  width: 100%;
  height: 100%;
  #cube-top {
    fill: #4e4e4e;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  #cube-left {
    fill: #2d2d2d;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  #cube-border {
    fill: #292929;
    stroke-linecap: round;
  }

  #cube-right {
    fill: #1c1c1c;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

// -----------------------------------------------------------------------------
// SLIDER GROUP
// -----------------------------------------------------------------------------

.slider-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
  width: fit-content;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background: rgba(variables.$color-skywarp, 0.6);
  backdrop-filter: blur(6px);
  border-top: solid 1px variables.$color-trypticon;
  // border-radius: functions.px2rem(32);
}

// -----------------------------------------------------------------------------
// CONTROL
// -----------------------------------------------------------------------------

.slider-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  color: variables.$color-ramjet;

  @include mixins.breakpoint(xs) {
    width: 40%;
  }
  @include mixins.breakpoint(md) {
    width: auto;
  }
}

// -----------------------------------------------------------------------------
// LABEL
// -----------------------------------------------------------------------------

.slider-control label {
  margin-bottom: functions.px2rem(7);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

// -----------------------------------------------------------------------------
// TRACK
// -----------------------------------------------------------------------------

.slider-control input[type="range"] {
  appearance: none;
  width: 100%;
  height: functions.px2rem(2);
  background: linear-gradient(to right, variables.$color-soundwave 0%, variables.$color-soundwave var(--progress), variables.$color-devastator var(--progress), variables.$color-starscream 100%);
  border-radius: functions.px2rem(2);
  outline: none;
  transition: background 0.2s ease;
  cursor: pointer;

  @include mixins.breakpoint(md) {
    width: functions.px2rem(120);
  }
}

// -----------------------------------------------------------------------------
// THUMB
// -----------------------------------------------------------------------------

.slider-control input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: variables.$color-megatron;
  // box-shadow: 0 0 4px variables.$color-soundwave;
  border: solid 2px variables.$color-soundwave;
  transition: transform 0.2s ease;
}

.slider-control input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

.slider-control input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: variables.$color-ramjet;
  border: none;
  // box-shadow: 0 0 4px variables.$color-soundwave;
  border: solid 1px variables.$color-soundwave;
}

.slider-control input[type="range"]:hover::-moz-range-thumb {
  transform: scale(1.2);
}