// =============================================================================
//
//  THREE SCENE
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

// @use "sass:color";
// @use "sass:map";
// @use "../tools/functions";
// @use "../tools/mixins";
// @use "../settings/variables";

// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------

.three-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}