// src/styles/settings/_variables.scss

// =============================================================================
//
//  VARIABLES
//
// =============================================================================

$font-size: 16px;
$font-family: 'Roboto', sans-serif;

// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------

$color-primary:                #0286eb;
$color-secondary:              #202020;
$color-megatron:               #151515;
$color-starscream:             #8b8b8b;

// -----------------------------------------------------------------------------
// Z-INDEX MAP
// -----------------------------------------------------------------------------

$z-index: (
  "nav-bar": 200,
  "preloader": 100,
);