// =============================================================================
//
//  VARIABLES
//
// =============================================================================

// -----------------------------------------------------------------------------
// FONTS
// -----------------------------------------------------------------------------

$font-size:                    16px;
$font-family:                  'Roboto', sans-serif;

// -----------------------------------------------------------------------------
// TRANSITIONS
// -----------------------------------------------------------------------------

$global-easing:                cubic-bezier(0.165, 0.840, 0.440, 1.000);
$global-timing:                .5s;

// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------

$color-soundwave:              #0286eb;
$color-skywarp:                #000000;
$color-megatron:               #151515;
$color-trypticon:              #202020;
$color-devastator:             #373737;
$color-menasor:                #515151;
$color-starscream:             #8b8b8b;
$color-prowl:                  #cdcdcd;
$color-ramjet:                 #f0f0f0;

// -----------------------------------------------------------------------------
// BREAKPOINTS
// -----------------------------------------------------------------------------

$breakpoints: (
  "xs":                        480px,
  "sm":                        640px,
  "md":                        768px,
  "lg":                        1024px,
  "xl":                        1280px,
  "xxl":                       1536px
);

// -----------------------------------------------------------------------------
// Z-INDEX MAP
// -----------------------------------------------------------------------------

$z-index: (
  "overlay":                   100,
  "nav-bar":                   200,
  "preloader":                 300, // this is set inline in index.html
);

// -----------------------------------------------------------------------------
// ELEMENT SIZES
// -----------------------------------------------------------------------------

$nav-bar-height:               80px;