// =============================================================================
//
//  GLOBAL
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";
@use "../layouts/grid";

// -----------------------------------------------------------------------------
// RESETS
// -----------------------------------------------------------------------------

// padding and margins does not affect the width and height of elements
*,
*:before,
*:after {
  box-sizing: border-box;
}

// -----------------------------------------------------------------------------
// HTML / BODY
// -----------------------------------------------------------------------------

html {
  // This stops the annoying font-bold effect in dropdowns
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: functions.px2rem(variables.$font-size);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: variables.$nav-bar-height;
  background-color: variables.$color-megatron;
  font-family: variables.$font-family;
  color: variables.$color-starscream;
}

// -----------------------------------------------------------------------------
// BFG BUTTON
// -----------------------------------------------------------------------------

.bfg-button {
  display: block;
  width: fit-content;
  background-color: variables.$color-megatron;
  padding: functions.px2rem(10) functions.px2rem(20);
  border: solid 1px variables.$color-soundwave;
  color: variables.$color-soundwave;
  text-decoration: none;
  font-size: functions.px2rem(18);
  font-weight: normal;
  cursor: pointer;
  transition: background-color variables.$global-timing variables.$global-easing, color variables.$global-timing variables.$global-easing;

  &:hover {
    background-color: variables.$color-soundwave;
    color: variables.$color-megatron;
  }
  &:focus-visible {
    outline-style: outset;
    outline-width: 2px;
    outline-color: variables.$color-soundwave;
  }

  @include mixins.breakpoint(md) {
    padding: functions.px2rem(20) functions.px2rem(30);
    font-size: functions.px2rem(24);
  }
}

// -----------------------------------------------------------------------------
// BUTTON GROUP
// -----------------------------------------------------------------------------

.btn-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  .bfg-button {
    width: 100%;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mixins.breakpoint(xs) {
    flex-flow: row nowrap;
    .bfg-button {
      width: auto;
      display: inline-block;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// HIDE STUFF
// -----------------------------------------------------------------------------

.hide {
  display: none !important;
  visibility: hidden !important;
}

// -----------------------------------------------------------------------------
// MARGIN REMOVAL
// -----------------------------------------------------------------------------

.no-margin-top {
  margin-top: 0 !important;
}