// =============================================================================
//
//  TYPOGRAPHY
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// HEADINGS
// -----------------------------------------------------------------------------

h1 {
  font-size: functions.px2rem(48);
  font-weight: 200;
  margin-top: 1em;
  margin-bottom: 1em;

  @include mixins.breakpoint(sm) {
    font-size: functions.px2rem(60);
  }

  @include mixins.breakpoint(md) {
    font-size: functions.px2rem(90);
  }

  @include mixins.breakpoint(xxl) {
    font-size: functions.px2rem(120);
  }
}

p {
  font-size: functions.px2rem(24);
  line-height: 1.5em;
  font-weight: 200;
}

.subheading {
  display: block;
  margin-top: 0.2em;
  font-size: functions.px2rem(36);
  font-weight: 200;

  @include mixins.breakpoint(md) {
    font-size: functions.px2rem(48);
  }

  @include mixins.breakpoint(xxl) {
    font-size: functions.px2rem(60);
  }
}

.tagline {
  width: 80%;
  margin-bottom: 1em;
  font-size: functions.px2rem(28);
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  color: rgba(variables.$color-ramjet, 0.9);

  @include mixins.breakpoint(sm) {
    font-size: functions.px2rem(32);
  }

  @include mixins.breakpoint(md) {
    font-size: functions.px2rem(36);
  }
}
