// =============================================================================
//
//  TYPOGRAPHY
//
// =============================================================================

// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------

@use "../tools/functions";
@use "../tools/mixins";
@use "../settings/variables";

// -----------------------------------------------------------------------------
// HEADINGS
// -----------------------------------------------------------------------------

h1 {
  font-size: functions.px2rem(48);
  font-weight: 200;
  margin-top: 1em;
  margin-bottom: 1em;

  @include mixins.breakpoint(sm) {
    font-size: functions.px2rem(60);
  }

  @include mixins.breakpoint(md) {
    font-size: functions.px2rem(90);
  }

  @include mixins.breakpoint(xxl) {
    font-size: functions.px2rem(120);
  }
}

p {
  font-size: functions.px2rem(24);
  line-height: 1.5em;
  font-weight: 200;
}